<nav class="top-bar topbar-responsive">
  <div class="top-bar-title">
    <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
      
    </span>
    <a class="topbar-responsive-logo" href="#"><strong>Hatteras</strong></a>
  </div>
  <div id="topbar-responsive" class="topbar-responsive-links">
    <div class="top-bar-right">
      <ul class="menu simple vertical medium-horizontal">
        <li><a routerLink="/motoryachts" routerLinkActive="active">Motor Yachts</a></li>
        <li><a routerLink="/sportfish" routerLinkActive="active">Sportfish</a></li>
        <li><a routerLink="/experience" routerLinkActive="active">Experience</a></li>
        <li>
          <button type="button" class="button hollow topbar-responsive-button" href="#">Visit Flushing</button>
        </li>
      </ul>
    </div>
  </div>
</nav>


